* {
  background-color: black;
  color: white;
  font: arial;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

form {
  text-align: center;
}

#error {
  display: none;
  color: #ff0000;
}

.picked-word {
  color: limegreen;
}

.images {
  margin-top: 100px;
  text-align: center;
  height: 250px;
}

.images img {
  /*width: 20%;*/
  height: 100%;
}
