* {
  background-color: black;
  color: white;
  font: arial;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

form {
  text-align: center;
}

button {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #333333;
  margin: 0 10px;
  box-shadow: 0px 2px 5px #bdbdbd;
}

#error {
  display: none;
  color: #ff0000;
}

.picked-word {
  color: limegreen;
}

.images {
  margin-top: 100px;
  text-align: center;
  height: 250px;
}

#preach-wrapper {
  text-align: center;
  margin: 20px 0;
}

#slack-confirm {
  display: none;
  color: limegreen;
}

/*.images-middle {
  margin: 100px;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  height: 250px;
}

.images-bottom {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  height: 250px;
}*/

img {
  /*width: 20%;*/
  height: 100%;
}
